<!DOCTYPE html>
<html lang="en">
<head>
<style>

body{
  margin: 0%;
  font-size: 25px;

  }
  li{
    float: left;
  }
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #343a40;
  /* height: 100%; */
  position: fixed;
  overflow: auto;
  top: 0%;


}

li a{
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  text-align: ;
}
li a:hover{
  background-color: black;
}
.active{
  background-color: black;
}

</style>
</head>
<body>

<ul>
  <li><a href="book">Book</a></li>
  <li><a href="blog">Blog</a></li>
  <li><a href="user">Profile</a></li>
</ul>

</body>
</html>
