<div *ngFor="let data of books">
  <app-book-item
    [books]="data"
    (actionEmitter)="executeAction($event)"
  ></app-book-item>
</div>

<!-- <head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE-Edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Book Item</title>
</head>
<body>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Authors</th>
        <th>ISBN</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ books?.id }}</td>
        <td>{{ books?.name }}</td>
        <td>{{ books?.authors }}</td>
        <td>{{ books?.isbn }}</td>
        <td>
          <button (click)="button1()">Edit</button>
          <button (click)="danger()">Delete</button>
        </td>
      </tr>
    </tbody>
    >
  </table>
</body>

<!-- <div *ngFor="let data of books">
  <app-book-item
    [books]="data"
    (actionEmitter)="executeAction($event)"
  ></app-book-item>
</div> -->
<!--
<div
 class="card">
  <h1 class="name">{{books?.name}}</h1>
  <div class="authors">Author: {{books?.author}}</div>
  <div class="isbn">ISBN: {{books?.isbn}}</div><br>

        <button (click)="button1()">Edit</button>

        <button class="danger"(click)="danger()">Delete</button><br><br>
</div> -->
-->
