<button type="button" (click)="getBlogs()">Blog List</button>
<br><br>
<table>
    <tr>
        <th>ID</th>
        <th>TITLE</th>
        <th>DESCRIPTION</th>
        <th>AUTHOR</th>
        <th>COMMENTS</th>
        <th>ACTIONS</th>
    </tr>
    <tr *ngFor="let data of blogList">
        <td>{{data.id}}</td>
        <td>{{data.title}}</td>
        <td>{{data.description}}</td>
        <td>{{data.author}}</td>
        <td>{{data.comments}}</td>
        <td><button class="button">Edit</button><br><button class="danger">Delete</button></td>
    </tr>
</table>